/*----fonts--------*/

@font-face {
    font-family: 'segoe-ui';
    src: url('../fonts/segoe-ui.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/segoe-ui.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/segoe-ui.woff') format('woff'), /* Pretty Modern Browsers */ url('../fonts/segoe-ui.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/segoe-ui.svg#segoe-ui') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'segoe-ui-light';
    src: url('../fonts/segoe-ui-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/segoe-ui-light.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/segoe-ui-light.woff') format('woff'), /* Pretty Modern Browsers */ url('../fonts/segoe-ui-light.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/segoe-ui-light.svg#segoe-ui-light') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'myriad-pro';
    src: url('../fonts/myriad-pro.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/myriad-pro.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/myriad-pro.woff') format('woff'), /* Pretty Modern Browsers */ url('../fonts/myriad-pro.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/myriad-pro.svg#myriad-pro') format('svg'); /* Legacy iOS */
}

/*----normalize--------*/

* {
    font-family: "segoe-ui", sans-serif;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

a, a:hover {
    color: inherit;
    text-decoration: none;
    font-family: inherit;
}

ul {
    list-style-type: none;
    display: inherit;
    width: inherit;
    justify-content: inherit;
    flex-wrap: inherit;
}

textarea {
    resize: none;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

h4 {
    margin: 0;
}

h5 {
    margin: 0;
}

h6 {
    margin: 0;
}

p {
    margin: 0;
}

input, textarea {
    border: none;
    box-shadow: 0 0 11px black;
}

/*---------common-----------*/

.container {
    max-width: 1150px;
    width: 100%;
    display: block;
    margin: auto;
}

/*---------header-----------*/

.header {
    background-image: url('../images/header-bg.png');
    background-position: center 4%;
    height: 670px;
    position: relative;
}

.logo {
    width: 187px;
    height: 58px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    min-width: 150px;
    align-items: center;
}

.nav-item {
    color: #0e61a0;
    font-family: 'myriad-pro';
}

.header-caption {
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-caption .text-content {
    color: #fff;
    max-width: 420px;
    padding-left: 50px;
}

.header-caption .title {
    font-size: 34px;
    font-family: 'segoe-ui-light';
    background: none;
    text-align: left;
}

.header-caption .subtitle {
    font-size: 24px;
    font-family: 'segoe-ui-light';
}

.photo-content {
    display: flex;
    width: 529px;
    height: 417px;
    background-image: url("../images/border-for-photo.png");
}

.photo-content .photo {
    margin: auto;
    height: 160px;
    width: 160px;
    position: relative;
    overflow: hidden;
    padding-bottom: 10px;
    transform: rotate(45deg);
}

.photo-content .photo img {
    position: absolute;
    top: -82px;
    left: -72px;
    transform: rotate(-45deg);
    width: 233%;
    object-fit: cover;
}

/*---------content-----------*/

.main-info {
    display: flex;
    flex-wrap: wrap;
}

.title {
    background-color: #0e5d98;
    color: #fff;
    text-align: center;
    font-size: 30px;
    line-height: 80px;
    height: 80px;
    width: 100%;
    text-transform: capitalize;
}

.content-menu {
    background-image: linear-gradient(to right bottom, #1477c5 0%,
    #1477c5 50%, transparent 50%);
    width: 19%;
    min-height: 330px;
    height: 100%;
    padding-right: 12%;
    vertical-align: text-bottom;
    position: relative;
    display: inline-block;
    color: #fff;
    text-align: right;
    font-family: segoe-ui;
    font-size: 20px;
    padding-top: 25px;
}

.content-menu ul {
    margin-left: auto;
}

.content-menu li {
    text-align: left;
}

.content {
    display: inline-block;
    vertical-align: text-bottom;
    margin-top: 35px;
    margin-bottom: 35px;
}

/*-----skills.json------*/

.skills {
    display: flex;
    max-width: 845px;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
}

.skill-item {
    background-image: url("../images/border-for-skill.png");
    height: 208px;
    width: 194px;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    cursor: pointer;
    transition: 0.5s;
}

.skill-item div p {
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.skill-item div {
    height: 70px;
    width: 70px;
    font-family: "segoe-ui";
    font-size: 20px;
    color: #0e5d98;
    text-align: center;
    position: relative;
    word-break: break-word;
    transition: 0.5s;
}
.skill-item div:before {
    content: '';
    left: 0;
    height: 70px;
    width: 70px;
    transform: rotate(0deg);
    z-index: 1;
    transition: 0.5s;
}

.skill-item:hover div:before {
    content: '';
    display: block;
    box-shadow: 0 0 9px rgba(171, 171, 171, 0.85);
    position: absolute;
    transform: rotate(45deg);
    background-color: rgba(212, 227, 243, 0.35);
    transition: 0.5s;
}

/*------------footer-----------*/

.contacts {
    background-color: #0e5d98;
}

.contacts .contacts-content {
    padding: 40px 0;
}

.contacts h5 {
    background-color: #0e5d98;
    color: #fff;
    font-size: 24px;
    padding-bottom: 40px;
    width: 500px;
    margin: auto;
    text-align: center;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    justify-content: space-between;
    margin:auto;
    height: 200px;
}

.contact-form input, .contact-form textarea {
    width: 331px;
    height: 40px;
    padding: 0 10px;
    margin-bottom: 8px;
    font-size: 15px;
    color: #0e5d98;
}

.contact-form input::placeholder, .contact-form textarea::placeholder {
    color: #82a6c5;
    font-size: 15px;
}

.contact-form .inputs input {
    display: block;
}

.contact-form textarea {
    height:88px;
    padding: 10px;
    box-sizing: border-box;
}

.contact-form .btn {
    width: 238px;
    height: 53px;
    margin:auto;
    background: transparent;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
}

.copyright {
    background-color: #313333;
    color: #fff;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
}
